body{ 
            margin: 0;
            color: rgb(225, 225, 238);
            background-image: url(sunset_beach.png);    
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            height: 100vh;
            width: 100%;
}

.header{background-color: blue; clear:both; overflow: auto; opacity: .85;}
.logo{ float:left; color: gray; padding:10px; font-size: 40px;}
.logo span{color: red; font-weight: 700;}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li{ display: inline; float: right; margin: 20px;}
.nav li a{color: white;}




        .before{text-align: center;}
        .before h1{color: blue; letter-spacing: 2px; text-shadow: 2px 2px red; font-size: 50px; margin-bottom: 30px;}
        .before p{margin: -20px;}
        .before1{color: rgb(71, 63, 145); background-color: rgb(225, 225, 238, .4); width: 40vw; margin-left: 10px; padding: 10px;}
        .before1 li{list-style: none;margin: 20px;}
        .before1 h2{margin-left: 20px;}
        .before2 li{margin: 20px;}
        .before2 h2{margin-left: 20px;}
        .before2 h3{margin-left: 20px;}
        footer{text-align: center; font-size: x-large; color: rgb(15, 15, 160);}

        a:link { text-decoration: none; }
        a:visited { text-decoration: none; }
        a:hover { text-decoration: none; }
        a:active { text-decoration: none; }
    
